:root {
    --main-color: #976ff5;
}

html,
body,
header,
#intro {
    height: 100%;

    /*Fix for scroll bounce on Apple devices*/
    overscroll-behavior: none;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    #intro-section {
        height: 100vh;
    }
}

.rgba-gradient {
    background: var(--main-color);
    background: -moz-linear-gradient(145deg, var(--main-color) 25%, rgba(255,255,255,0.21192226890756305) 100%);
    background: -webkit-linear-gradient(145deg, var(--main-color) 25%, rgba(255,255,255,0.21192226890756305) 100%);
    background: linear-gradient(145deg, var(--main-color) 25%, rgba(255,255,255,0.21192226890756305) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--main-color),endColorstr="#ffffff",GradientType=1);
}

/* Dropdown */
.dropdown-user {
    position: relative;
}

.dropdown-user:hover {
    cursor: pointer;
}

.dropdown-user:hover > .dropdown-user-icon {
    /*background-color: white;*/
    /*border-radius: 4px 4px 0 0;*/
    /*transition: none;*/
}

.dropdown-user:hover > .dropdown-user-menu {
    transform: translateZ(0) scaleY(1);
    overflow-y: auto;
    visibility: visible;
    opacity: 1;
    animation: show-dropdown .15s cubic-bezier(0,0,.2,1) forwards;
}

@keyframes show-dropdown {
    0%{
        transform: translate3d(0,-8px,0) scaleY(.99);
    }
    100%{
        transform: translateZ(0) scaleY(1);
    }
}

.dropdown-user-menu {
    position: absolute;
    z-index: 10000;
    right: 0;
    width: 200px;
    transform: translate3d(0,-0.5rem,0) scaleY(0);
    transform-origin: left top 0;
    visibility: hidden;
    border-radius: 4px;
    background-color: var(--main-color);
    box-shadow: 0 2px 6px rgb(0 0 0 / 50%);
    opacity: .25;
    transition: background-color 200ms ease;
}

.dropdown-user-menu-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.dropdown-user-menu > .dropdown-item {
    padding: 16px 24px;
    transition: background-color .15s cubic-bezier(.4,0,.2,1);
}

.dropdown-user-menu > .dropdown-item:hover {
    background-color: #002c40;
}
/* Dropdown End */

.text-black {
    color: black;
}

/* particles.js */
canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* Nav bar color */
.top-nav-collapse, .page-footer {
    background-color: var(--main-color) !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: var(--main-color) !important;
    }
}

/* Intro section */
.intro-section {
    max-width: 558px;
    text-align: center;
    margin: 0 auto;
}

.remote-controller-icon {
    height: 75px;
    width: 75px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .wrapper {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        position: relative;
        margin: 3rem 2rem 0 2rem;
        display: block;
    }

    .remote-controller-icon-image {
        height: 75px;
        width: 75px;
    }
}

@media (min-width: 1301px) {
    .wrapper {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
        margin: 0rem 5rem 0 5rem;
        display: flex;
    }

    .remote-controller-icon {
        height: 100px;
        width: 100px;
    }
}
/* Intro section */

/* Universal Styles */
.hideme {
    opacity: 0;
}

/* About section */
.about-image-container {
    text-align: end;
}

.about-image {
    padding: 50px 8px;
    transform: scaleX(-1);
}

@media (max-width: 991px) {
    .about-image-container {
        text-align: center;
    }

    .about-image {
        padding: 8px;
    }
}

/* Screenshots section */
.screenshots-section {
    background-color: #eee;
}

.carousel-align-center {
    margin: 0 auto;
    display: flex;
}

.carousel-buttons {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    height: inherit;
}

#leftArrow {
    position: relative;
    left: 0px;
}

#rightArrow {
    position: relative;
    right: 0px;
}

#screenshots-window {
    width: 700px;
    left: 50%;
    overflow: hidden;
}

#screenshots-show {
    display: flex;
    position: relative;
    left:0;
    width: 1200px;
}

.carousel-items {
    float: left;
    margin: 10px 40px 10px 10px;
    width: 25%;
}

@media (max-width: 991px) {
    #screenshots-window {
        width: 600px;
        left: 50%;
        overflow: hidden;
    }

    .carousel-items {
        float: left;
        margin: 10px 40px 10px 10px;
        width: 20%;
    }
}

@media (max-width: 767px) {
    #screenshots-window {
        width: 400px;
        left: 50%;
        overflow: hidden;
    }

    .carousel-items {
        float: left;
        margin: 10px 40px 10px 10px;
        width: 20%;
    }
}

@media (max-width: 509px) {
    #screenshots-window {
        width: 210px;
        left: 50%;
        overflow: hidden;
    }

    .carousel-items {
        float: left;
        margin: 10px 40px 10px 10px;
        width: 15%;
    }
}
/* END Screenshots section */

/* Vote */
/* END Vote */

/* Beta */
.beta-section {
    background-color: #eee;
}

.beta-email-container {
    max-width: 300px;
    margin: auto;
}
/* END Beta */

/* Contact section */
.articles-section {
    background-color: #fff;
}
/* END Contact */

/* Contact section */
.contact-section {
    background-color: #eee;
}

@media (max-width: 1300px) {
    .contact-section {
        background-color: #eee;
    }
}

/* Form line color */
.form-color:focus {
    border-bottom: 1px solid var(--main-color) !important;
    -webkit-box-shadow: 0 1px 0 0 var(--main-color) !important;
    box-shadow: 0 1px 0 0 var(--main-color) !important;
}

.form-label-color:not(.active) {
    color: #757575;
}

.form-label-color.active:not(.error) {
    color: var(--main-color) !important;
}

.form-label-color.error {
    color: red !important;
}

.checked {
    color: var(--main-color);
}
/* END Contact section */

/* Flying birds! */
div.birds {
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute; z-index: 999;
    visibility: hidden;
    opacity: 0;
}

@media (max-width: 1300px) {
    div.birds {
        background-color: #eee;
    }
}

.wrapper-no4 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper-no4 .div-bird {
    width: 300px;
    height: 88px;
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
}

.wrapper-no4 .div-bird:focus {
    outline: none;
}

.wrapper-no4 .div-bird.active .bird {
    left: 600px;
    top: -550px;
    opacity: 0;
    transition: left 1.5s cubic-bezier(0.42, 0, 0.58, 1), top 1.5s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 1s;
}

.wrapper-no4 .div-bird.active .bird:before {
    left: -50px;
    top: 50px;
    transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}

.wrapper-no4 .bird__text {
    text-align: center;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: transparent;
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wrapper-no4 .div-bird.active .bird__text {
    color: #000000;
    -webkit-animation: text-fade 1.5s 0.2s both;
    animation: text-fade 1.5s 0.2s both;
}

.wrapper-no4 .bird,
.wrapper-no4 .bird:after,
.wrapper-no4 .bird:before {
    opacity: 1;
    display: block;
    position: absolute;
    background-image: url("http://cfriedri.ch/codepen/04/birds.svg");
    background-size: auto 100%;
    width: 60px;
    height: 33px;
    top: 0;
    left: 0;
    -webkit-animation-name: fly-cycle;
    animation-name: fly-cycle;
    -webkit-animation-timing-function: steps(3);
    animation-timing-function: steps(3);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.wrapper-no4 .bird,
.wrapper-no4 .bird:after,
.wrapper-no4 .bird:before {
    width: 30px;
    height: 33px;
    top: -8px;
    left: 8px;
    z-index: -100;
}

.wrapper-no4 .bird:after,
.wrapper-no4 .bird:before {
    content: '';
}

.wrapper-no4 .bird,
.wrapper-no4 .bird:after,
.wrapper-no4 .bird:before {
    left: 118px;
    top: 0;
}

.wrapper-no4 .bird:before {
    top: 25px;
}

.wrapper-no4 .bird:after {
    top: 20px;
}

.wrapper-no4 .active .bird:before,
.wrapper-no4 .div-bird:hover .bird:before {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.wrapper-no4 .active .bird:after,
.wrapper-no4 .div-bird:hover .bird:after {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.wrapper-no4 .active .bird,
.wrapper-no4 .div-bird:hover .bird {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}

@-webkit-keyframes fly-cycle {
    100% {
        background-position: -360px 0;
    }
}

@keyframes fly-cycle {
    100% {
        background-position: -360px 0;
    }
}

@-webkit-keyframes text-fade {
    0% {
        color: transparent;
        opacity: 1;
        top: -50%;
        left: auto;
    }

    1% {
        color: transparent;
        opacity: 0;
    }

    50% {
        color: transparent;
        opacity: 0;
    }

    100% {
        color: #131335;
        opacity: 1;
    }
}

@keyframes text-fade {
    0% {
        color: transparent;
        opacity: 1;
        top: -50%;
        left: auto;
    }

    1% {
        color: transparent;
        opacity: 0;
    }

    50% {
        color: transparent;
        opacity: 0;
    }

    100% {
        color: #000000;
        opacity: 1;
    }
}
/* Flying birds! END */
